//#uploadFile{*
//  display:none;
//}
.parse_label{
  display: block;
  background-color: lightgray;
  border-radius: 5px;
  border: 1px solid;
  border-color: black;
  width: 6rem;
  text-align: center;
  margin:2rem auto;
  cursor: pointer;
  ;
}
.parse_form {
  background-color:rgb(231, 231, 231)
}